.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 550px; /* add a fixed height here */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
  /* top: 100px; */
}

.array-bar {
  width: 20px;
  display: inline-block;
  margin: 0 1px;
  transition: height 0.1s ease-in-out;
}
.bar-value {
  position: absolute;
  bottom: -25px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: rgb(0, 0, 0);
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  transform: scale(0.95);
}

.contain-all{
  justify-items: center;
  align-items: center;
  white-space: pre;
  font-size: 9px;
  font-weight: bold;
  color: #333;
  text-align: center;
  background-color: #B2DFDB;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-left: 215px;

}
.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 100px;
  background-color: #ccc;
  transform: translate(-50%, -50%);
}
.bar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #4CAF50;
}
.slider-container {

  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider-value {
  font-size: 18px;
  margin-left: 20px;
  color: #555;
}


/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .container {
    margin: 5% auto;
    padding: 10px;
  }
  
  .slider-value {
    font-size: 16px;
    margin-left: 10px;
  }
}

/* Styles for screens larger than 600px */
@media screen and (min-width: 600px) {
  .container {
    margin: 10% auto;
    padding: 20px;
  }
  
  .slider-value {
    font-size: 18px;
    margin-left: 20px;
  }
}