/*.grid-container {
  margin: 10% auto;
}

.grid {
  white-space: pre;
}
*/

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  margin-left: 210px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  white-space: pre;
  font-size: 9px;
  font-weight: bold;
  color: #333;
  text-align: center;
  background-color: #B2DFDB;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;

}


button {
  margin-right: 10px; /* Add spacing between each button */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
  font-weight: bold; /* Bold font */
  padding: 10px 20px; /* Add some padding to the button */
}

.btn-danger {
  background-color: #4CAF50; /* Set background color for "Clear Grid" button */
  color: #fff; /* Set text color for "Clear Grid" button */
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.btn-warning {
  background-color: #4CAF50; /* Set background color for "Clear Walls" button */
  color: #000; /* Set text color for "Clear Walls" button */
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-color: #449c47; /* Set background color for "Dijkstra's" and "A*" buttons */
  color: #fff; /* Set text color for "Dijkstra's" and "A*" buttons */
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}


.animated-heading {
  text-align: center;
  margin-bottom: 20px;
}
